/* cú pháp ép kiểu cho web */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.max-width {
  max-width: 1300px;
  padding: 50px;
  margin: 0 auto;
}

/* Home menu */

.home-menu {
  background-image: url('./image/hero.jpg');
  height: 700px;
  background-size: cover;
  /* 2 */
  position: relative;
  z-index: 1;
}

nav {
  margin-left: 10%;
}

nav .max-width {
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  display: inline-block;
  padding: 0px 30px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* style logo */

.max-width .logo img {
  height: 80px;
  width: 80px;
}

.max-width .menu {
  width: 800px;
  list-style: none;
  line-height: 80px;
}

/* opacity menu */

.opacity-menu {
  background-color: black;
  height: 100%;
  width: 100%;
  /* lam mo the */
  opacity: 0.7;
  position: absolute;
  z-index: 2;
}

/* code sau khi cho vao opacity */

.max-width .logo {
  z-index: 3;
  /* background-color: white; */
}

.max-width .menu {
  z-index: 3;
}

.content-menu {
  width: 800px;
  height: 200px;
  margin-left: 10%;
  margin-top: 8%;
  color: #fff;
  position: relative;
  /* noi len sau khi opacity */
  z-index: 3;
}

.content-menu .text p {
  font-size: 50px;
  font-weight: 150;
  line-height: 60px;
  text-transform: uppercase;
}

.content-menu .multi-button {
  width: 320px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* style cho button */

.content-menu .multi-button button {
  width: 150px;
  height: 40px;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  border: solid 2px orange;
  border-radius: 30px;
}

#button1 {
  background-color: orange;
  color: #fff;
}

#button2 {
  color: orange;
}